
.cv-template{
    max-width: 21cm;
    transform: scale(1.2);
    min-height: 29.7cm;
    margin: auto;
    .cv-header{
        min-height: 250px;
        .p-inputtext{
            height: 50%;
        }
    }
    .main-bloc{
        ul {
            li {
                .discription{
                    &.p-inputtext{
                        min-height: 80px;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
          }
    }
}
.cv-review{
    max-width: 21cm;
    min-height: 29.7cm;
    .cv-header{
        min-height: 250px;
    }
}
.scale-btn-grp{
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1055;
}

.add-new{
    position: relative;
    .pi{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 26px;
    }
    &:hover{
        opacity: 0.4;

        .pi{
            display: block;
        }
    }
}

.cv-card{
    min-height: 311px;
}